body{
  background-color: rgb(30, 30, 30);
}



input{
  color:gray;
  padding: 5px 5px;
  background-color: transparent;
  border:1px solid rgb(66, 66, 66);
  margin: 10px 10px;
}
input:focus{
  color:white;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 5px 5px 35px rgba(118, 118, 118, 0.289);
}

.outer-container{
  overflow:hidden;
}

#txt-test-cont{
  color:white;
}


.app-title{
  margin-top: 10px;
  color:white;
  text-shadow:  1px 1px 10px rgb(255, 255, 255),
  2px 2px 20px rgb(254,254,254),
  3px 3px 30px rgb(250,250,250);

  animation: infinite ease-in-out glow 5s;
}



@keyframes glow{
  0%{
    scale:1;
    text-shadow:  1px 1px 10px rgb(255, 255, 255),
  2px 2px 20px rgb(254,254,254),
  3px 3px 25px rgb(250,250,250);
  }
  50%{
    scale: 1.1; 
    text-shadow:  1px 1px 10px rgb(244, 130, 130),
  2px 2px 20px rgb(135, 16, 16),
  3px 3px 25px rgb(73, 0, 0);
  }
  100%{
    scale:1;
    text-shadow:  1px 1px 10px rgb(255, 255, 255),
  2px 2px 20px rgb(254,254,254),
  3px 3px 25px rgb(250,250,250);
  }
}